In [ ]:
import pandas as pd
import numpy as np
import getpass
import json
import openpyxl
import yfinance as yf
from urllib.request import urlopen
import FinanceDataReader as fdr

In [ ]:
# 종목코드
stock_code ="";

stock_file = pd.read_excel('/Users/ts770/Desktop/종목전체검색.xlsx')
stock_file

In [ ]:
name = input("가지고 있는 종목을 입력하세요.")

In [ ]:
B1=stock_file.loc[stock_file.Name == name, ['b1']]
list = B1['b1'].values.tolist()

print(list)
list

In [6]:
    if list[0] == 'IT': 
        list_mid = ['디스플레이', '반도체', '소프트웨어', '하드웨어']
        stock = pd.read_excel('/Users/ts770/Desktop/result_IT.xlsx')

    elif list[0] == '경기소비재':
        list_mid = ['내구 소비재 및 의류', '미디어', '소비자 서비스', '유통', '자동차 및 부품']
        stock = pd.read_excel('/Users/ts770/Desktop/result_com.xlsx')

    elif list[0] == '금융':
        list_mid = ['기타금융', '보험', '부동산', '은행', '증권']
        stock = pd.read_excel('/Users/ts770/Desktop/result_bank.xlsx')

    elif list[0] == '산업재':
        list_mid = ['상업서비스', '운송', '자본재']
        stock = pd.read_excel('/Users/ts770/Desktop/result_industrial.xlsx')

    elif list[0] == '소재':
        list_mid = ['소재']
        stock = pd.read_excel('/Users/ts770/Desktop/result_Material.xlsx')

    elif list[0] == '에너지':
        list_mid = ['에너지']
        stock= pd.read_excel('/Users/ts770/Desktop/result_energy.xlsx')

    elif list[0] == '유틸리티':
        list_mid = ['유틸리티']
        stock = pd.read_excel('/Users/ts770/Desktop/result_utility.xlsx')

    elif list[0] == '의료':
        list_mid = ['의료장비 및 서비스','제약 및 바이오']
        stock = pd.read_excel('/Users/ts770/Desktop/result_medical.xlsx')

    else:
        list_mid = ['생활용품', '음식료 및 담배']
        stock= pd.read_excel('/Users/ts770/Desktop/result_pricom.xlsx')

In [7]:
# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌 
stock.Code = stock.Code.map('{:06d}'.format) #6자리가 아닌 수를 앞에 0으로 채우기 위함

In [8]:
stock

      Code      Name  b1     b2
0   020760   일진디스플레이  IT  디스플레이
1   009310    참엔지니어링  IT  디스플레이
2   001210      금호전기  IT  디스플레이
3   034220   LG디스플레이  IT  디스플레이
4   092220      케이이씨  IT    반도체
..     ...       ...  ..    ...
68  031820     콤텍시스템  IT   하드웨어
69  008110      대동전자  IT   하드웨어
70  004770      써니전자  IT   하드웨어
71  009470      삼화전기  IT   하드웨어
72  373220  엘지에너지솔루션  IT   하드웨어

[73 rows x 4 columns]

In [9]:
# 한국거래소에 상장된 모든 종목 리스트 가져오기
import FinanceDataReader as fdr

df_krx = fdr.StockListing('KRX')

In [10]:
from datetime import date, timedelta
import datetime
#어제, 오늘 날짜를 간단히 구하는 방법
today = date.today()
yesterday = date.today() - timedelta(1)
 

end= today.strftime('%Y-%m-%d')
start= yesterday.strftime('%Y-%m-%d')

print(start)
print(end)

2022-11-14
2022-11-15

In [11]:
#변동성 계산
def cal_vix(open1, High, Low):

    vix = open1 +(High-Low)*0.5
    
    return vix

In [29]:
#종목명
stock_name = stock["Name"]
stock_name

0      일진디스플레이
1       참엔지니어링
2         금호전기
3      LG디스플레이
4         케이이씨
        ...
68       콤텍시스템
69        대동전자
70        써니전자
71        삼화전기
72    엘지에너지솔루션
Name: Name, Length: 73, dtype: object

In [ ]:
#종목 명 열 추출 한것 리스트로 변환
stock_clist = stock_c.values.tolist()

In [12]:
#대분류한 종목 코드 열 추출
stock_c = stock["Code"]

In [32]:
#종목 코드 열 추출 한것 리스트로 변환
stock_name_list = stock_name.values.tolist()
stock_name_list

['일진디스플레이',
 '참엔지니어링',
 '금호전기',
 'LG디스플레이',
 '케이이씨',
 '케이씨텍',
 '한미반도체',
 '미래산업',
 'LX세미콘',
 '해성디에스',
 'DB 하이텍',
 '유니퀘스트',
 '케이씨',
 '에스케이하이닉스',
 'SK스퀘어',
 '한국전자홀딩스',
 '디아이',
 '롯데정보통신',
 '더블유게임즈',
 '카카오',
 '유엔젤',
 '디비아이엔씨',
 '엔씨소프트',
 '신세계아이앤씨',
 '삼성에스디에스',
 '텔코웨어',
 '더존비즈온',
 '엔에이치엔',
 '씨아이테크',
 '네이버',
 '현대오토에버',
 'NICE홀딩스',
 '미래아이앤지',
 '아시아나아이디티',
 '크래프톤',
 '넷마블',
 '주연테크',
 '엠씨넥스',
 '두산퓨얼셀보통주',
 '영풍',
 '자화전자',
 '광전자',
 '대덕전자',
 '컨버즈',
 '에이엔피',
 '일진머티리얼즈',
 '한솔테크닉스',
 '남성',
 '하이트론씨스템즈',
 '이수페타시스',
 '코스모신소재',
 '삼성전기',
 '케이에이치필룩스',
 '솔루엠',
 '삼성SDI',
 '센트럴인사이트',
 '와이투솔루션',
 '경인전자',
 '대덕',
 '테이팩스',
 '코리아써키트',
 '휴니드테크놀러지스',
 '삼성전자',
 '솔루스첨단소재',
 '신도리코',
 'LG이노텍',
 '드림텍',
 '에스케이아이이테크놀로지',
 '콤텍시스템',
 '대동전자',
 '써니전자',
 '삼화전기',
 '엘지에너지솔루션']

In [14]:
#대분류한 중분류  열 추출
stock_b2 = stock["b2"]

In [15]:
#종목 코드 열 추출 한것 리스트로 변환
stock_b2_list = stock_b2.values.tolist()

In [16]:
    item_list=[]#시가,고가,종가 출력하는 코드
    for item_code in stock_clist:
        data_price = fdr.DataReader(str(item_code), start, end)
        item_list.append(data_price)
   #print(item_code)

In [17]:
#전날, 당일 추출 
OpenP_all_list=[]
OpenH_all_list=[]
OpenL_all_list=[]
for i in range(len(item_list)):
        #시가
        stock_open = item_list[i].Open
        print(stock_open)
        OpenP_all_list.append(stock_open)
        #고가
        stock_High = item_list[i].High
        print(stock_High)
        OpenH_all_list.append(stock_High)
        #저가
        stock_Low = item_list[i].Low
        print(stock_Low)
        OpenL_all_list.append(stock_Low)

Date
2022-11-14    1245
2022-11-15    1230
Name: Open, dtype: int64
Date
2022-11-14    1260
2022-11-15    1540
Name: High, dtype: int64
Date
2022-11-14    1190
2022-11-15    1230
Name: Low, dtype: int64
Date
2022-11-14    908
2022-11-15    877
Name: Open, dtype: int64
Date
2022-11-14    908
2022-11-15    894
Name: High, dtype: int64
Date
2022-11-14    871
2022-11-15    868
Name: Low, dtype: int64
Date
2022-11-14    1005
2022-11-15    1015
Name: Open, dtype: int64
Date
2022-11-14    1020
2022-11-15    1030
Name: High, dtype: int64
Date
2022-11-14     999
2022-11-15    1005
Name: Low, dtype: int64
Date
2022-11-14    15400
2022-11-15    14750
Name: Open, dtype: int64
Date
2022-11-14    15450
2022-11-15    14900
Name: High, dtype: int64
Date
2022-11-14    14600
2022-11-15    14600
Name: Low, dtype: int64
Date
2022-11-14    2735
2022-11-15    2570
Name: Open, dtype: int64
Date
2022-11-14    2810
2022-11-15    2590
Name: High, dtype: int64
Date
2022-11-14    2535
2022-11-15    2505
Name: Low, dtype: int64
Date
2022-11-14    15900
2022-11-15    16050
Name: Open, dtype: int64
Date
2022-11-14    16000
2022-11-15    16800
Name: High, dtype: int64
Date
2022-11-14    15650
2022-11-15    15900
Name: Low, dtype: int64
Date
2022-11-14    12500
2022-11-15    12850
Name: Open, dtype: int64
Date
2022-11-14    12900
2022-11-15    13100
Name: High, dtype: int64
Date
2022-11-14    12500
2022-11-15    12500
Name: Low, dtype: int64
Date
2022-11-14     9840
2022-11-15    10050
Name: Open, dtype: int64
Date
2022-11-14    10150
2022-11-15    10950
Name: High, dtype: int64
Date
2022-11-14     9790
2022-11-15    10000
Name: Low, dtype: int64
Date
2022-11-14    94300
2022-11-15    92400
Name: Open, dtype: int64
Date
2022-11-14    94600
2022-11-15    95300
Name: High, dtype: int64
Date
2022-11-14    92900
2022-11-15    91700
Name: Low, dtype: int64
Date
2022-11-14    40400
2022-11-15    41200
Name: Open, dtype: int64
Date
2022-11-14    41600
2022-11-15    43900
Name: High, dtype: int64
Date
2022-11-14    40250
2022-11-15    40850
Name: Low, dtype: int64
Date
2022-11-14    46500
2022-11-15    46250
Name: Open, dtype: int64
Date
2022-11-14    47200
2022-11-15    49050
Name: High, dtype: int64
Date
2022-11-14    45500
2022-11-15    46100
Name: Low, dtype: int64
Date
2022-11-14    8570
2022-11-15    8640
Name: Open, dtype: int64
Date
2022-11-14    8670
2022-11-15    8950
Name: High, dtype: int64
Date
2022-11-14    8540
2022-11-15    8580
Name: Low, dtype: int64
Date
2022-11-14    15950
2022-11-15    16600
Name: Open, dtype: int64
Date
2022-11-14    16150
2022-11-15    17450
Name: High, dtype: int64
Date
2022-11-14    15800
2022-11-15    16450
Name: Low, dtype: int64
Date
2022-11-14    93900
2022-11-15    91300
Name: Open, dtype: int64
Date
2022-11-14    93900
2022-11-15    92100
Name: High, dtype: int64
Date
2022-11-14    90900
2022-11-15    90400
Name: Low, dtype: int64
Date
2022-11-14    40650
2022-11-15    40550
Name: Open, dtype: int64
Date
2022-11-14    41200
2022-11-15    40700
Name: High, dtype: int64
Date
2022-11-14    40400
2022-11-15    39600
Name: Low, dtype: int64
Date
2022-11-14    1280
2022-11-15    1230
Name: Open, dtype: int64
Date
2022-11-14    1305
2022-11-15    1240
Name: High, dtype: int64
Date
2022-11-14    1215
2022-11-15    1200
Name: Low, dtype: int64
Date
2022-11-14    4710
2022-11-15    4795
Name: Open, dtype: int64
Date
2022-11-14    4775
2022-11-15    4880
Name: High, dtype: int64
Date
2022-11-14    4630
2022-11-15    4715
Name: Low, dtype: int64
Date
2022-11-14    24850
2022-11-15    25300
Name: Open, dtype: int64
Date
2022-11-14    25400
2022-11-15    25350
Name: High, dtype: int64
Date
2022-11-14    24850
2022-11-15    24950
Name: Low, dtype: int64
Date
2022-11-14    48000
2022-11-15    46150
Name: Open, dtype: int64
Date
2022-11-14    48250
2022-11-15    47250
Name: High, dtype: int64
Date
2022-11-14    45700
2022-11-15    46000
Name: Low, dtype: int64
Date
2022-11-14    59300
2022-11-15    58500
Name: Open, dtype: int64
Date
2022-11-14    60200
2022-11-15    58900
Name: High, dtype: int64
Date
2022-11-14    58000
2022-11-15    57300
Name: Low, dtype: int64
Date
2022-11-14    3040
2022-11-15    3100
Name: Open, dtype: int64
Date
2022-11-14    3090
2022-11-15    3110
Name: High, dtype: int64
Date
2022-11-14    2970
2022-11-15    2990
Name: Low, dtype: int64
Date
2022-11-14    788
2022-11-15    792
Name: Open, dtype: int64
Date
2022-11-14    792
2022-11-15    801
Name: High, dtype: int64
Date
2022-11-14    780
2022-11-15    785
Name: Low, dtype: int64
Date
2022-11-14    462000
2022-11-15    447000
Name: Open, dtype: int64
Date
2022-11-14    462500
2022-11-15    458000
Name: High, dtype: int64
Date
2022-11-14    440000
2022-11-15    444000
Name: Low, dtype: int64
Date
2022-11-14    13050
2022-11-15    13000
Name: Open, dtype: int64
Date
2022-11-14    13250
2022-11-15    13250
Name: High, dtype: int64
Date
2022-11-14    12950
2022-11-15    13000
Name: Low, dtype: int64
Date
2022-11-14    128500
2022-11-15    129000
Name: Open, dtype: int64
Date
2022-11-14    130000
2022-11-15    129500
Name: High, dtype: int64
Date
2022-11-14    127500
2022-11-15    128000
Name: Low, dtype: int64
Date
2022-11-14    8500
2022-11-15    8470
Name: Open, dtype: int64
Date
2022-11-14    8550
2022-11-15    8530
Name: High, dtype: int64
Date
2022-11-14    8410
2022-11-15    8400
Name: Low, dtype: int64
Date
2022-11-14    34550
2022-11-15    34500
Name: Open, dtype: int64
Date
2022-11-14    35300
2022-11-15    35300
Name: High, dtype: int64
Date
2022-11-14    34200
2022-11-15    34300
Name: Low, dtype: int64
Date
2022-11-14    24800
2022-11-15    24800
Name: Open, dtype: int64
Date
2022-11-14    25150
2022-11-15    24950
Name: High, dtype: int64
Date
2022-11-14    24500
2022-11-15    24600
Name: Low, dtype: int64
Date
2022-11-14    855
2022-11-15    867
Name: Open, dtype: int64
Date
2022-11-14    874
2022-11-15    889
Name: High, dtype: int64
Date
2022-11-14    852
2022-11-15    854
Name: Low, dtype: int64
Date
2022-11-14    194000
2022-11-15    190000
Name: Open, dtype: int64
Date
2022-11-14    194500
2022-11-15    192500
Name: High, dtype: int64
Date
2022-11-14    188000
2022-11-15    188000
Name: Low, dtype: int64
Date
2022-11-14    117000
2022-11-15    119500
Name: Open, dtype: int64
Date
2022-11-14    119500
2022-11-15    119500
Name: High, dtype: int64
Date
2022-11-14    117000
2022-11-15    116000
Name: Low, dtype: int64
Date
2022-11-14    12800
2022-11-15    12800
Name: Open, dtype: int64
Date
2022-11-14    12900
2022-11-15    13100
Name: High, dtype: int64
Date
2022-11-14    12650
2022-11-15    12750
Name: Low, dtype: int64
Date
2022-11-14    304
2022-11-15    306
Name: Open, dtype: int64
Date
2022-11-14    309
2022-11-15    309
Name: High, dtype: int64
Date
2022-11-14    302
2022-11-15    303
Name: Low, dtype: int64
Date
2022-11-14    12050
2022-11-15    12100
Name: Open, dtype: int64
Date
2022-11-14    12400
2022-11-15    12800
Name: High, dtype: int64
Date
2022-11-14    11950
2022-11-15    11750
Name: Low, dtype: int64
Date
2022-11-14    225000
2022-11-15    224000
Name: Open, dtype: int64
Date
2022-11-14    230000
2022-11-15    226500
Name: High, dtype: int64
Date
2022-11-14    220000
2022-11-15    217500
Name: Low, dtype: int64
Date
2022-11-14    49350
2022-11-15    48950
Name: Open, dtype: int64
Date
2022-11-14    51300
2022-11-15    52700
Name: High, dtype: int64
Date
2022-11-14    48400
2022-11-15    48750
Name: Low, dtype: int64
Date
2022-11-14    698
2022-11-15    700
Name: Open, dtype: int64
Date
2022-11-14    702
2022-11-15    709
Name: High, dtype: int64
Date
2022-11-14    683
2022-11-15    691
Name: Low, dtype: int64
Date
2022-11-14    28150
2022-11-15    28800
Name: Open, dtype: int64
Date
2022-11-14    29050
2022-11-15    29200
Name: High, dtype: int64
Date
2022-11-14    28100
2022-11-15    28400
Name: Low, dtype: int64
Date
2022-11-14    36600
2022-11-15    35950
Name: Open, dtype: int64
Date
2022-11-14    37500
2022-11-15    36650
Name: High, dtype: int64
Date
2022-11-14    36150
2022-11-15    34850
Name: Low, dtype: int64
Date
2022-11-14    755000
2022-11-15    799000
Name: Open, dtype: int64
Date
2022-11-14    840000
2022-11-15    833000
Name: High, dtype: int64
Date
2022-11-14    753000
2022-11-15    792000
Name: Low, dtype: int64
Date
2022-11-14    21350
2022-11-15    21600
Name: Open, dtype: int64
Date
2022-11-14    21950
2022-11-15    23700
Name: High, dtype: int64
Date
2022-11-14    20950
2022-11-15    21550
Name: Low, dtype: int64
Date
2022-11-14    2225
2022-11-15    2205
Name: Open, dtype: int64
Date
2022-11-14    2245
2022-11-15    2225
Name: High, dtype: int64
Date
2022-11-14    2195
2022-11-15    2175
Name: Low, dtype: int64
Date
2022-11-14    25300
2022-11-15    24800
Name: Open, dtype: int64
Date
2022-11-14    25350
2022-11-15    25850
Name: High, dtype: int64
Date
2022-11-14    24500
2022-11-15    24700
Name: Low, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: Open, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: High, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: Low, dtype: int64
Date
2022-11-14    1695
2022-11-15    1750
Name: Open, dtype: int64
Date
2022-11-14    1735
2022-11-15    1750
Name: High, dtype: int64
Date
2022-11-14    1660
2022-11-15    1685
Name: Low, dtype: int64
Date
2022-11-14    65600
2022-11-15    66600
Name: Open, dtype: int64
Date
2022-11-14    68000
2022-11-15    66900
Name: High, dtype: int64
Date
2022-11-14    65000
2022-11-15    64800
Name: Low, dtype: int64
Date
2022-11-14    5440
2022-11-15    5450
Name: Open, dtype: int64
Date
2022-11-14    5460
2022-11-15    5500
Name: High, dtype: int64
Date
2022-11-14    5370
2022-11-15    5310
Name: Low, dtype: int64
Date
2022-11-14    2410
2022-11-15    2530
Name: Open, dtype: int64
Date
2022-11-14    2510
2022-11-15    2580
Name: High, dtype: int64
Date
2022-11-14    2405
2022-11-15    2450
Name: Low, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: Open, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: High, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: Low, dtype: int64
Date
2022-11-14    5900
2022-11-15    5790
Name: Open, dtype: int64
Date
2022-11-14    5970
2022-11-15    6350
Name: High, dtype: int64
Date
2022-11-14    5720
2022-11-15    5770
Name: Low, dtype: int64
Date
2022-11-14    66600
2022-11-15    66000
Name: Open, dtype: int64
Date
2022-11-14    67200
2022-11-15    66400
Name: High, dtype: int64
Date
2022-11-14    65800
2022-11-15    62800
Name: Low, dtype: int64
Date
2022-11-14    141500
2022-11-15    140000
Name: Open, dtype: int64
Date
2022-11-14    143000
2022-11-15    143500
Name: High, dtype: int64
Date
2022-11-14    138500
2022-11-15    140000
Name: Low, dtype: int64
Date
2022-11-14    1015
2022-11-15    1145
Name: Open, dtype: int64
Date
2022-11-14    1105
2022-11-15    1165
Name: High, dtype: int64
Date
2022-11-14    1010
2022-11-15    1065
Name: Low, dtype: int64
Date
2022-11-14    19550
2022-11-15    19400
Name: Open, dtype: int64
Date
2022-11-14    19700
2022-11-15    19500
Name: High, dtype: int64
Date
2022-11-14    19350
2022-11-15    19100
Name: Low, dtype: int64
Date
2022-11-14    749000
2022-11-15    756000
Name: Open, dtype: int64
Date
2022-11-14    783000
2022-11-15    756000
Name: High, dtype: int64
Date
2022-11-14    739000
2022-11-15    715000
Name: Low, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: Open, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: High, dtype: int64
Date
2022-11-14    0
2022-11-15    0
Name: Low, dtype: int64
Date
2022-11-14    643
2022-11-15    630
Name: Open, dtype: int64
Date
2022-11-14    685
2022-11-15    639
Name: High, dtype: int64
Date
2022-11-14    624
2022-11-15    619
Name: Low, dtype: int64
Date
2022-11-14    25150
2022-11-15    25000
Name: Open, dtype: int64
Date
2022-11-14    25200
2022-11-15    25650
Name: High, dtype: int64
Date
2022-11-14    24750
2022-11-15    24850
Name: Low, dtype: int64
Date
2022-11-14    6400
2022-11-15    6370
Name: Open, dtype: int64
Date
2022-11-14    6410
2022-11-15    6580
Name: High, dtype: int64
Date
2022-11-14    6350
2022-11-15    6370
Name: Low, dtype: int64
Date
2022-11-14    62900
2022-11-15    64000
Name: Open, dtype: int64
Date
2022-11-14    64600
2022-11-15    64600
Name: High, dtype: int64
Date
2022-11-14    62400
2022-11-15    62500
Name: Low, dtype: int64
Date
2022-11-14    15950
2022-11-15    15650
Name: Open, dtype: int64
Date
2022-11-14    16000
2022-11-15    16600
Name: High, dtype: int64
Date
2022-11-14    15350
2022-11-15    15600
Name: Low, dtype: int64
Date
2022-11-14    6600
2022-11-15    6510
Name: Open, dtype: int64
Date
2022-11-14    6640
2022-11-15    6620
Name: High, dtype: int64
Date
2022-11-14    6510
2022-11-15    6500
Name: Low, dtype: int64
Date
2022-11-14    62900
2022-11-15    62200
Name: Open, dtype: int64
Date
2022-11-14    62900
2022-11-15    62500
Name: High, dtype: int64
Date
2022-11-14    61700
2022-11-15    61600
Name: Low, dtype: int64
Date
2022-11-14    39550
2022-11-15    38750
Name: Open, dtype: int64
Date
2022-11-14    39800
2022-11-15    40450
Name: High, dtype: int64
Date
2022-11-14    38700
2022-11-15    38750
Name: Low, dtype: int64
Date
2022-11-14    33350
2022-11-15    33150
Name: Open, dtype: int64
Date
2022-11-14    33350
2022-11-15    33350
Name: High, dtype: int64
Date
2022-11-14    32800
2022-11-15    33150
Name: Low, dtype: int64
Date
2022-11-14    320000
2022-11-15    318000
Name: Open, dtype: int64
Date
2022-11-14    321500
2022-11-15    327000
Name: High, dtype: int64
Date
2022-11-14    315500
2022-11-15    317500
Name: Low, dtype: int64
Date
2022-11-14    9640
2022-11-15    9800
Name: Open, dtype: int64
Date
2022-11-14    9850
2022-11-15    9860
Name: High, dtype: int64
Date
2022-11-14    9610
2022-11-15    9660
Name: Low, dtype: int64
Date
2022-11-14    64400
2022-11-15    63900
Name: Open, dtype: int64
Date
2022-11-14    67000
2022-11-15    65900
Name: High, dtype: int64
Date
2022-11-14    63400
2022-11-15    63400
Name: Low, dtype: int64
Date
2022-11-14    661
2022-11-15    669
Name: Open, dtype: int64
Date
2022-11-14    675
2022-11-15    683
Name: High, dtype: int64
Date
2022-11-14    660
2022-11-15    669
Name: Low, dtype: int64
Date
2022-11-14    12150
2022-11-15    12350
Name: Open, dtype: int64
Date
2022-11-14    12450
2022-11-15    12650
Name: High, dtype: int64
Date
2022-11-14    12150
2022-11-15    12200
Name: Low, dtype: int64
Date
2022-11-14    2385
2022-11-15    2400
Name: Open, dtype: int64
Date
2022-11-14    2410
2022-11-15    2475
Name: High, dtype: int64
Date
2022-11-14    2365
2022-11-15    2350
Name: Low, dtype: int64
Date
2022-11-14    16900
2022-11-15    16500
Name: Open, dtype: int64
Date
2022-11-14    17250
2022-11-15    17850
Name: High, dtype: int64
Date
2022-11-14    16350
2022-11-15    16400
Name: Low, dtype: int64
Date
2022-11-14    618000
2022-11-15    604000
Name: Open, dtype: int64
Date
2022-11-14    628000
2022-11-15    610000
Name: High, dtype: int64
Date
2022-11-14    602000
2022-11-15    586000
Name: Low, dtype: int64

In [18]:
#당일시가 추출
OpenP_list=[]
for i in range(len(item_list)):
    OpenP = OpenP_all_list[i][1]
    OpenP_list.append(OpenP)
    #print(OpenP)
#전날 고가 추출
OpenH_list=[]
for i in range(len(item_list)):
    OpenH = OpenH_all_list[i][0]
    OpenH_list.append(OpenH)
    #print(OpenP)
#전날 저가 추출
OpenL_list=[]
for i in range(len(item_list)):
    OpenL = OpenL_all_list[i][0]
    OpenL_list.append(OpenL)
    #print(OpenP)

In [21]:
OpenP_list=[]
OpenH_list=[]
OpenL_list=[]
vix_list=[]
for i in range(len(item_list)):
    #당일시가 추출
    OpenP = OpenP_all_list[i][1]
    OpenP_list.append(OpenP)
    #전날 고가 추출
    OpenH = OpenH_all_list[i][0]
    OpenH_list.append(OpenH)
    #전날 저가 추출
    OpenL = OpenL_all_list[i][0]
    OpenL_list.append(OpenL)
    Vix = cal_vix(OpenP_list[i], OpenH_list[i], OpenL_list[i])
    #print(Vix)
    vix_list.append(Vix)

In [33]:
#중분류, 변동성 매칭
vix_b2_list=[]
for i in range(len(stock_c)):
    list = [stock_name_list[i],vix_list[i], stock_b2_list[i]]
    vix_b2_list.append(list)

In [34]:
vix_b2_list

[['일진디스플레이', 1265.0, '디스플레이'],
 ['참엔지니어링', 895.5, '디스플레이'],
 ['금호전기', 1025.5, '디스플레이'],
 ['LG디스플레이', 15175.0, '디스플레이'],
 ['케이이씨', 2707.5, '반도체'],
 ['케이씨텍', 16225.0, '반도체'],
 ['한미반도체', 13050.0, '반도체'],
 ['미래산업', 10230.0, '반도체'],
 ['LX세미콘', 93250.0, '반도체'],
 ['해성디에스', 41875.0, '반도체'],
 ['DB 하이텍', 47100.0, '반도체'],
 ['유니퀘스트', 8705.0, '반도체'],
 ['케이씨', 16775.0, '반도체'],
 ['에스케이하이닉스', 92800.0, '반도체'],
 ['SK스퀘어', 40950.0, '반도체'],
 ['한국전자홀딩스', 1275.0, '반도체'],
 ['디아이', 4867.5, '반도체'],
 ['롯데정보통신', 25575.0, '소프트웨어'],
 ['더블유게임즈', 47425.0, '소프트웨어'],
 ['카카오', 59600.0, '소프트웨어'],
 ['유엔젤', 3160.0, '소프트웨어'],
 ['디비아이엔씨', 798.0, '소프트웨어'],
 ['엔씨소프트', 458250.0, '소프트웨어'],
 ['신세계아이앤씨', 13150.0, '소프트웨어'],
 ['삼성에스디에스', 130250.0, '소프트웨어'],
 ['텔코웨어', 8540.0, '소프트웨어'],
 ['더존비즈온', 35050.0, '소프트웨어'],
 ['엔에이치엔', 25125.0, '소프트웨어'],
 ['씨아이테크', 878.0, '소프트웨어'],
 ['네이버', 193250.0, '소프트웨어'],
 ['현대오토에버', 120750.0, '소프트웨어'],
 ['NICE홀딩스', 12925.0, '소프트웨어'],
 ['미래아이앤지', 309.5, '소프트웨어'],
 ['아시아나아이디티', 12325.0, '소프트웨어'],
 ['크래프톤', 229000.0, '소프트웨어'],
 ['넷마블', 50400.0, '소프트웨어'],
 ['주연테크', 709.5, '하드웨어'],
 ['엠씨넥스', 29275.0, '하드웨어'],
 ['두산퓨얼셀보통주', 36625.0, '하드웨어'],
 ['영풍', 842500.0, '하드웨어'],
 ['자화전자', 22100.0, '하드웨어'],
 ['광전자', 2230.0, '하드웨어'],
 ['대덕전자', 25225.0, '하드웨어'],
 ['컨버즈', 0.0, '하드웨어'],
 ['에이엔피', 1787.5, '하드웨어'],
 ['일진머티리얼즈', 68100.0, '하드웨어'],
 ['한솔테크닉스', 5495.0, '하드웨어'],
 ['남성', 2582.5, '하드웨어'],
 ['하이트론씨스템즈', 0.0, '하드웨어'],
 ['이수페타시스', 5915.0, '하드웨어'],
 ['코스모신소재', 66700.0, '하드웨어'],
 ['삼성전기', 142250.0, '하드웨어'],
 ['케이에이치필룩스', 1192.5, '하드웨어'],
 ['솔루엠', 19575.0, '하드웨어'],
 ['삼성SDI', 778000.0, '하드웨어'],
 ['센트럴인사이트', 0.0, '하드웨어'],
 ['와이투솔루션', 660.5, '하드웨어'],
 ['경인전자', 25225.0, '하드웨어'],
 ['대덕', 6400.0, '하드웨어'],
 ['테이팩스', 65100.0, '하드웨어'],
 ['코리아써키트', 15975.0, '하드웨어'],
 ['휴니드테크놀러지스', 6575.0, '하드웨어'],
 ['삼성전자', 62800.0, '하드웨어'],
 ['솔루스첨단소재', 39300.0, '하드웨어'],
 ['신도리코', 33425.0, '하드웨어'],
 ['LG이노텍', 321000.0, '하드웨어'],
 ['드림텍', 9920.0, '하드웨어'],
 ['에스케이아이이테크놀로지', 65700.0, '하드웨어'],
 ['콤텍시스템', 676.5, '하드웨어'],
 ['대동전자', 12500.0, '하드웨어'],
 ['써니전자', 2422.5, '하드웨어'],
 ['삼화전기', 16950.0, '하드웨어'],
 ['엘지에너지솔루션', 617000.0, '하드웨어']]

In [44]:
vix_b2_list[0][2]

'디스플레이'

In [45]:
dis_list_0 = []
dis_list_1 = []
dis_list_2 = []
dis_list_3 = []
dis_list_4 = []

for i in range(len(list_mid)):
    for j in range(len(stock_c)):
        if list_mid[i] == vix_b2_list[j][2]:
            globals()['dis_list_'+str(i)].append(vix_b2_list[j])

In [46]:
def Top1(L) :
    L.sort()
    return L[-1]
print(Top1(dis_list_0))

['참엔지니어링', 895.5, '디스플레이']

In [47]:
def Top2(L) :
    L.sort()
    return L[-2]
print(Top2(dis_list_0))

['일진디스플레이', 1265.0, '디스플레이']

In [48]:
def Top3(L) :
    L.sort()
    return L[-3]
print(Top3(dis_list_0))

['금호전기', 1025.5, '디스플레이']

In [55]:
dis_list_0

[['LG디스플레이', 15175.0, '디스플레이'],
 ['금호전기', 1025.5, '디스플레이'],
 ['일진디스플레이', 1265.0, '디스플레이'],
 ['참엔지니어링', 895.5, '디스플레이']]

In [49]:
for i in range(len(list_mid)):
    print(Top1(globals()['dis_list_'+str(i)]))
    print(Top2(globals()['dis_list_'+str(i)]))
    print(Top3(globals()['dis_list_'+str(i)]))

['참엔지니어링', 895.5, '디스플레이']
['일진디스플레이', 1265.0, '디스플레이']
['금호전기', 1025.5, '디스플레이']
['해성디에스', 41875.0, '반도체']
['한미반도체', 13050.0, '반도체']
['한국전자홀딩스', 1275.0, '반도체']
['현대오토에버', 120750.0, '소프트웨어']
['텔코웨어', 8540.0, '소프트웨어']
['크래프톤', 229000.0, '소프트웨어']
['휴니드테크놀러지스', 6575.0, '하드웨어']
['한솔테크닉스', 5495.0, '하드웨어']
['하이트론씨스템즈', 0.0, '하드웨어']

In [61]:
Top3_0 = []
Top3_1 = []
Top3_2 = []
Top3_3 = []
Top3_4 = []

for i in range(len(list_mid)):
    a = Top1(globals()['dis_list_'+str(i)])
    globals()['Top3_'+str(i)].append(a)
    b = Top2(globals()['dis_list_'+str(i)])
    globals()['Top3_'+str(i)].append(b)
    c= Top3(globals()['dis_list_'+str(i)])
    globals()['Top3_'+str(i)].append(c)

In [92]:
Top3_name_0 =[]
Top3_name_1 =[]
Top3_name_2 =[]
Top3_name_3 =[]
Top3_name_4 =[]
for i in range(len(list_mid)):
    for j in range(len(Top3_1)):
        sn = globals()['Top3_'+str(i)][j][0]
        globals()['Top3_name_'+str(i)].append(sn)

In [98]:
print(Top3_name_0)
print(Top3_name_1)
print(Top3_name_2)
print(Top3_name_3)

['참엔지니어링', '일진디스플레이', '금호전기']
['해성디에스', '한미반도체', '한국전자홀딩스']
['현대오토에버', '텔코웨어', '크래프톤']
['휴니드테크놀러지스', '한솔테크닉스', '하이트론씨스템즈']