In [1]:
import pandas as pd
import numpy as np
import getpass
import json
import openpyxl
import yfinance as yf
from urllib.request import urlopen
import FinanceDataReader as fdr

In [2]:
# 종목코드
stock_code ="";

stock_file = pd.read_excel('/Users/ts770/Desktop/종목전체검색.xlsx')
stock_file

       Code      Name     b1        b2
0     44380      주연테크     IT      하드웨어
1     97520      엠씨넥스     IT      하드웨어
2     92220      케이이씨     IT       반도체
3    336260  두산퓨얼셀보통주     IT      하드웨어
4    286940    롯데정보통신     IT     소프트웨어
..      ...       ...    ...       ...
795    3350   한국화장품제조  필수소비재      생활용품
796    5740  크라운해태홀딩스  필수소비재  음식료 및 담배
797   78520    에이블씨엔씨  필수소비재      생활용품
798   49770    동원에프앤비  필수소비재  음식료 및 담배
799    1130      대한제분  필수소비재  음식료 및 담배

[800 rows x 4 columns]

In [5]:
name = input("가지고 있는 종목을 입력하세요.")

가지고 있는 종목을 입력하세요.현대모비스

In [6]:
B1=stock_file.loc[stock_file.Name == name, ['b1']]
list = B1['b1'].values.tolist()

print(list)
list

['경기소비재']

['경기소비재']

In [7]:
    if list[0] == 'IT': 
        list_mid = ['디스플레이', '반도체', '소프트웨어', '하드웨어']
        stock = pd.read_excel('/Users/ts770/Desktop/result_IT.xlsx')

    elif list[0] == '경기소비재':
        list_mid = ['내구 소비재 및 의류', '미디어', '소비자 서비스', '유통', '자동차 및 부품']
        stock = pd.read_excel('/Users/ts770/Desktop/result_com.xlsx')

    elif list[0] == '금융':
        list_mid = ['기타금융', '보험', '부동산', '은행', '증권']
        stock = pd.read_excel('/Users/ts770/Desktop/result_bank.xlsx')

    elif list[0] == '산업재':
        list_mid = ['상업서비스', '운송', '자본재']
        stock = pd.read_excel('/Users/ts770/Desktop/result_industrial.xlsx')

    elif list[0] == '소재':
        list_mid = ['소재']
        stock = pd.read_excel('/Users/ts770/Desktop/result_Material.xlsx')

    elif list[0] == '에너지':
        list_mid = ['에너지']
        stock= pd.read_excel('/Users/ts770/Desktop/result_energy.xlsx')

    elif list[0] == '유틸리티':
        list_mid = ['유틸리티']
        stock = pd.read_excel('/Users/ts770/Desktop/result_utility.xlsx')

    elif list[0] == '의료':
        list_mid = ['의료장비 및 서비스','제약 및 바이오']
        stock = pd.read_excel('/Users/ts770/Desktop/result_medical.xlsx')

    else:
        list_mid = ['생활용품', '음식료 및 담배']
        stock= pd.read_excel('/Users/ts770/Desktop/result_pricom.xlsx')

In [8]:
# 종목코드가 6자리이기 때문에 6자리를 맞춰주기 위해 설정해줌 
stock.Code = stock.Code.map('{:06d}'.format) #6자리가 아닌 수를 앞에 0으로 채우기 위함

In [9]:
stock

       Code       Name     b1           b2
0    008600        윌비스  경기소비재  내구 소비재 및 의류
1    005390       신성통상  경기소비재  내구 소비재 및 의류
2    016450  한세예스24홀딩스  경기소비재  내구 소비재 및 의류
3    003200       일신방직  경기소비재  내구 소비재 및 의류
4    068290      삼성출판사  경기소비재  내구 소비재 및 의류
..      ...        ...    ...          ...
179  007860         서연  경기소비재     자동차 및 부품
180  001380     에스지글로벌  경기소비재     자동차 및 부품
181  089470    HDC현대EP  경기소비재     자동차 및 부품
182  036530    에스앤티홀딩스  경기소비재     자동차 및 부품
183  378850     화승알앤에이  경기소비재     자동차 및 부품

[184 rows x 4 columns]

In [10]:
# 한국거래소에 상장된 모든 종목 리스트 가져오기
import FinanceDataReader as fdr

df_krx = fdr.StockListing('KRX')

In [11]:
from datetime import date, timedelta
import datetime
#어제, 오늘 날짜를 간단히 구하는 방법
today = date.today()
yesterday = date.today() - timedelta(1)
 

end= today.strftime('%Y-%m-%d')
start= yesterday.strftime('%Y-%m-%d')

print(start)
print(end)

2022-11-14
2022-11-15

In [12]:
#변동성 계산
def cal_vix(open1, High, Low):

    vix = open1 +(High-Low)*0.5
    
    return vix

In [13]:
#대분류한 종목 코드 열 추출
stock_c = stock["Code"]

In [14]:
#종목 코드 열 추출 한것 리스트로 변환
stock_clist = stock_c.values.tolist()

In [15]:
#대분류한 중분류  열 추출
stock_b2 = stock["b2"]

In [16]:
#종목 코드 열 추출 한것 리스트로 변환
stock_b2_list = stock_b2.values.tolist()

In [17]:
    item_list=[]#시가,고가,종가 출력하는 코드
    for item_code in stock_clist:
        data_price = fdr.DataReader(str(item_code), start, end)
        item_list.append(data_price)
   #print(item_code)

In [18]:
#전날, 당일 추출 
OpenP_all_list=[]
OpenH_all_list=[]
OpenL_all_list=[]
for i in range(len(item_list)):
        #시가
        stock_open = item_list[i].Open
        print(stock_open)
        OpenP_all_list.append(stock_open)
        #고가
        stock_High = item_list[i].High
        print(stock_High)
        OpenH_all_list.append(stock_High)
        #저가
        stock_Low = item_list[i].Low
        print(stock_Low)
        OpenL_all_list.append(stock_Low)

Date
2022-11-14    789
2022-11-15    775
Name: Open, dtype: int64
Date
2022-11-14    789
2022-11-15    779
Name: High, dtype: int64
Date
2022-11-14    767
2022-11-15    766
Name: Low, dtype: int64
Date
2022-11-14    2490
2022-11-15    2680
Name: Open, dtype: int64
Date
2022-11-14    2670
2022-11-15    2680
Name: High, dtype: int64
Date
2022-11-14    2490
2022-11-15    2435
Name: Low, dtype: int64
Date
2022-11-14    4995
2022-11-15    5140
Name: Open, dtype: int64
Date
2022-11-14    5170
2022-11-15    5200
Name: High, dtype: int64
Date
2022-11-14    4990
2022-11-15    5070
Name: Low, dtype: int64
Date
2022-11-14    105000
2022-11-15    104000
Name: Open, dtype: int64
Date
2022-11-14    105500
2022-11-15    104500
Name: High, dtype: int64
Date
2022-11-14    103000
2022-11-15    100000
Name: Low, dtype: int64
Date
2022-11-14    26750
2022-11-15    27000
Name: Open, dtype: int64
Date
2022-11-14    27250
2022-11-15    27200
Name: High, dtype: int64
Date
2022-11-14    26350
2022-11-15    26600
Name: Low, dtype: int64
Date
2022-11-14    7700
2022-11-15    7990
Name: Open, dtype: int64
Date
2022-11-14    7910
2022-11-15    8000
Name: High, dtype: int64
Date
2022-11-14    7700
2022-11-15    7440
Name: Low, dtype: int64
Date
2022-11-14    55000
2022-11-15    58400
Name: Open, dtype: int64
Date
2022-11-14    58100
2022-11-15    58700
Name: High, dtype: int64
Date
2022-11-14    54600
2022-11-15    55500
Name: Low, dtype: int64
Date
2022-11-14    5250
2022-11-15    5230
Name: Open, dtype: int64
Date
2022-11-14    5320
2022-11-15    5230
Name: High, dtype: int64
Date
2022-11-14    5190
2022-11-15    5130
Name: Low, dtype: int64
Date
2022-11-14    560
2022-11-15    569
Name: Open, dtype: int64
Date
2022-11-14    575
2022-11-15    570
Name: High, dtype: int64
Date
2022-11-14    556
2022-11-15    563
Name: Low, dtype: int64
Date
2022-11-14    925
2022-11-15    995
Name: Open, dtype: int64
Date
2022-11-14    1050
2022-11-15    1045
Name: High, dtype: int64
Date
2022-11-14    918
2022-11-15    979
Name: Low, dtype: int64
Date
2022-11-14    1645
2022-11-15    1650
Name: Open, dtype: int64
Date
2022-11-14    1675
2022-11-15    1670
Name: High, dtype: int64
Date
2022-11-14    1625
2022-11-15    1640
Name: Low, dtype: int64
Date
2022-11-14     9880
2022-11-15    10450
Name: Open, dtype: int64
Date
2022-11-14    10800
2022-11-15    10550
Name: High, dtype: int64
Date
2022-11-14     9880
2022-11-15    10150
Name: Low, dtype: int64
Date
2022-11-14    44250
2022-11-15    44900
Name: Open, dtype: int64
Date
2022-11-14    45650
2022-11-15    49900
Name: High, dtype: int64
Date
2022-11-14    43950
2022-11-15    44350
Name: Low, dtype: int64
Date
2022-11-14    33800
2022-11-15    34000
Name: Open, dtype: int64
Date
2022-11-14    34600
2022-11-15    34350
Name: High, dtype: int64
Date
2022-11-14    33450
2022-11-15    33150
Name: Low, dtype: int64
Date
2022-11-14    810
2022-11-15    825
Name: Open, dtype: int64
Date
2022-11-14    825
2022-11-15    842
Name: High, dtype: int64
Date
2022-11-14    808
2022-11-15    820
Name: Low, dtype: int64
Date
2022-11-14    1945
2022-11-15    1965
Name: Open, dtype: int64
Date
2022-11-14    1970
2022-11-15    1975
Name: High, dtype: int64
Date
2022-11-14    1920
2022-11-15    1935
Name: Low, dtype: int64
Date
2022-11-14    370000
2022-11-15    366500
Name: Open, dtype: int64
Date
2022-11-14    370000
2022-11-15    374000
Name: High, dtype: int64
Date
2022-11-14    364000
2022-11-15    366500
Name: Low, dtype: int64
Date
2022-11-14    8890
2022-11-15    9340
Name: Open, dtype: int64
Date
2022-11-14     9700
2022-11-15    11750
Name: High, dtype: int64
Date
2022-11-14    8850
2022-11-15    9330
Name: Low, dtype: int64
Date
2022-11-14    22250
2022-11-15    22350
Name: Open, dtype: int64
Date
2022-11-14    22750
2022-11-15    22350
Name: High, dtype: int64
Date
2022-11-14    21650
2022-11-15    21200
Name: Low, dtype: int64
Date
2022-11-14    1650
2022-11-15    1655
Name: Open, dtype: int64
Date
2022-11-14    1710
2022-11-15    1655
Name: High, dtype: int64
Date
2022-11-14    1650
2022-11-15    1595
Name: Low, dtype: int64
Date
2022-11-14    1610
2022-11-15    1675
Name: Open, dtype: int64
Date
2022-11-14    1675
2022-11-15    1700
Name: High, dtype: int64
Date
2022-11-14    1600
2022-11-15    1475
Name: Low, dtype: int64
Date
2022-11-14    48350
2022-11-15    51700
Name: Open, dtype: int64
Date
2022-11-14    52500
2022-11-15    51700
Name: High, dtype: int64
Date
2022-11-14    48350
2022-11-15    48050
Name: Low, dtype: int64
Date
2022-11-14    2300
2022-11-15    2280
Name: Open, dtype: int64
Date
2022-11-14    2315
2022-11-15    2305
Name: High, dtype: int64
Date
2022-11-14    2275
2022-11-15    2275
Name: Low, dtype: int64
Date
2022-11-14    2330
2022-11-15    1975
Name: Open, dtype: int64
Date
2022-11-14    2450
2022-11-15    2055
Name: High, dtype: int64
Date
2022-11-14    1940
2022-11-15    1865
Name: Low, dtype: int64
Date
2022-11-14    50900
2022-11-15    50600
Name: Open, dtype: int64
Date
2022-11-14    51100
2022-11-15    51000
Name: High, dtype: int64
Date
2022-11-14    50600
2022-11-15    50600
Name: Low, dtype: int64
Date
2022-11-14    3290
2022-11-15    3210
Name: Open, dtype: int64
Date
2022-11-14    3290
2022-11-15    3335
Name: High, dtype: int64
Date
2022-11-14    3160
2022-11-15    3200
Name: Low, dtype: int64
Date
2022-11-14    30650
2022-11-15    29950
Name: Open, dtype: int64
Date
2022-11-14    30650
2022-11-15    30200
Name: High, dtype: int64
Date
2022-11-14    29950
2022-11-15    29400
Name: Low, dtype: int64
Date
2022-11-14    2750
2022-11-15    2760
Name: Open, dtype: int64
Date
2022-11-14    2770
2022-11-15    2820
Name: High, dtype: int64
Date
2022-11-14    2720
2022-11-15    2695
Name: Low, dtype: int64
Date
2022-11-14    16450
2022-11-15    16250
Name: Open, dtype: int64
Date
2022-11-14    16450
2022-11-15    16450
Name: High, dtype: int64
Date
2022-11-14    16200
2022-11-15    16250
Name: Low, dtype: int64
Date
2022-11-14    26000
2022-11-15    26950
Name: Open, dtype: int64
Date
2022-11-14    26900
2022-11-15    26950
Name: High, dtype: int64
Date
2022-11-14    25950
2022-11-15    26300
Name: Low, dtype: int64
Date
2022-11-14    29200
2022-11-15    28300
Name: Open, dtype: int64
Date
2022-11-14    29200
2022-11-15    28600
Name: High, dtype: int64
Date
2022-11-14    28300
2022-11-15    28200
Name: Low, dtype: int64
Date
2022-11-14    33400
2022-11-15    34000
Name: Open, dtype: int64
Date
2022-11-14    34200
2022-11-15    35450
Name: High, dtype: int64
Date
2022-11-14    33400
2022-11-15    33700
Name: Low, dtype: int64
Date
2022-11-14    5200
2022-11-15    5300
Name: Open, dtype: int64
Date
2022-11-14    5410
2022-11-15    5610
Name: High, dtype: int64
Date
2022-11-14    5200
2022-11-15    5300
Name: Low, dtype: int64
Date
2022-11-14    11250
2022-11-15    11050
Name: Open, dtype: int64
Date
2022-11-14    11300
2022-11-15    11300
Name: High, dtype: int64
Date
2022-11-14    11000
2022-11-15    10850
Name: Low, dtype: int64
Date
2022-11-14    15000
2022-11-15    15250
Name: Open, dtype: int64
Date
2022-11-14    15550
2022-11-15    15350
Name: High, dtype: int64
Date
2022-11-14    14900
2022-11-15    15000
Name: Low, dtype: int64
Date
2022-11-14    34850
2022-11-15    35700
Name: Open, dtype: int64
Date
2022-11-14    36200
2022-11-15    36300
Name: High, dtype: int64
Date
2022-11-14    34700
2022-11-15    35450
Name: Low, dtype: int64
Date
2022-11-14    1845
2022-11-15    1880
Name: Open, dtype: int64
Date
2022-11-14    1885
2022-11-15    1895
Name: High, dtype: int64
Date
2022-11-14    1840
2022-11-15    1870
Name: Low, dtype: int64
Date
2022-11-14    1100
2022-11-15    1185
Name: Open, dtype: int64
Date
2022-11-14    1185
2022-11-15    1210
Name: High, dtype: int64
Date
2022-11-14    1100
2022-11-15    1150
Name: Low, dtype: int64
Date
2022-11-14    48250
2022-11-15    46700
Name: Open, dtype: int64
Date
2022-11-14    48350
2022-11-15    48450
Name: High, dtype: int64
Date
2022-11-14    46300
2022-11-15    46550
Name: Low, dtype: int64
Date
2022-11-14    15450
2022-11-15    15550
Name: Open, dtype: int64
Date
2022-11-14    15750
2022-11-15    16000
Name: High, dtype: int64
Date
2022-11-14    15400
2022-11-15    15550
Name: Low, dtype: int64
Date
2022-11-14    57300
2022-11-15    57900
Name: Open, dtype: int64
Date
2022-11-14    57500
2022-11-15    57900
Name: High, dtype: int64
Date
2022-11-14    56500
2022-11-15    55600
Name: Low, dtype: int64
Date
2022-11-14    1685
2022-11-15    1725
Name: Open, dtype: int64
Date
2022-11-14    1725
2022-11-15    1725
Name: High, dtype: int64
Date
2022-11-14    1665
2022-11-15    1690
Name: Low, dtype: int64
Date
2022-11-14    787
2022-11-15    884
Name: Open, dtype: int64
Date
2022-11-14    918
2022-11-15    884
Name: High, dtype: int64
Date
2022-11-14    780
2022-11-15    815
Name: Low, dtype: int64
Date
2022-11-14    9670
2022-11-15    9450
Name: Open, dtype: int64
Date
2022-11-14    9750
2022-11-15    9590
Name: High, dtype: int64
Date
2022-11-14    9440
2022-11-15    9140
Name: Low, dtype: int64
Date
2022-11-14    2785
2022-11-15    2755
Name: Open, dtype: int64
Date
2022-11-14    2825
2022-11-15    2825
Name: High, dtype: int64
Date
2022-11-14    2780
2022-11-15    2750
Name: Low, dtype: int64
Date
2022-11-14    314000
2022-11-15    355500
Name: Open, dtype: int64
Date
2022-11-14    360000
2022-11-15    366500
Name: High, dtype: int64
Date
2022-11-14    314000
2022-11-15    351000
Name: Low, dtype: int64
Date
2022-11-14    94700
2022-11-15    96100
Name: Open, dtype: int64
Date
2022-11-14    96900
2022-11-15    98800
Name: High, dtype: int64
Date
2022-11-14    94500
2022-11-15    95800
Name: Low, dtype: int64
Date
2022-11-14    24450
2022-11-15    24950
Name: Open, dtype: int64
Date
2022-11-14    25150
2022-11-15    25750
Name: High, dtype: int64
Date
2022-11-14    24350
2022-11-15    24700
Name: Low, dtype: int64
Date
2022-11-14    1195
2022-11-15    1225
Name: Open, dtype: int64
Date
2022-11-14    1225
2022-11-15    1225
Name: High, dtype: int64
Date
2022-11-14    1195
2022-11-15    1200
Name: Low, dtype: int64
Date
2022-11-14    48550
2022-11-15    49750
Name: Open, dtype: int64
Date
2022-11-14    51000
2022-11-15    49800
Name: High, dtype: int64
Date
2022-11-14    48450
2022-11-15    48800
Name: Low, dtype: int64
Date
2022-11-14    1405
2022-11-15    1435
Name: Open, dtype: int64
Date
2022-11-14    1460
2022-11-15    1615
Name: High, dtype: int64
Date
2022-11-14    1405
2022-11-15    1405
Name: Low, dtype: int64
Date
2022-11-14    7730
2022-11-15    8580
Name: Open, dtype: int64
Date
2022-11-14    8740
2022-11-15    8580
Name: High, dtype: int64
Date
2022-11-14    7730
2022-11-15    8020
Name: Low, dtype: int64
Date
2022-11-14    11700
2022-11-15    11600
Name: Open, dtype: int64
Date
2022-11-14    11700
2022-11-15    12200
Name: High, dtype: int64
Date
2022-11-14    11500
2022-11-15    11600
Name: Low, dtype: int64
Date
2022-11-14    50700
2022-11-15    50200
Name: Open, dtype: int64
Date
2022-11-14    51000
2022-11-15    50700
Name: High, dtype: int64
Date
2022-11-14    50300
2022-11-15    50200
Name: Low, dtype: int64
Date
2022-11-14    56900
2022-11-15    58100
Name: Open, dtype: int64
Date
2022-11-14    58000
2022-11-15    58400
Name: High, dtype: int64
Date
2022-11-14    56400
2022-11-15    57100
Name: Low, dtype: int64
Date
2022-11-14    1775
2022-11-15    1740
Name: Open, dtype: int64
Date
2022-11-14    1815
2022-11-15    1750
Name: High, dtype: int64
Date
2022-11-14    1715
2022-11-15    1710
Name: Low, dtype: int64
Date
2022-11-14    1250
2022-11-15    1245
Name: Open, dtype: int64
Date
2022-11-14    1260
2022-11-15    1295
Name: High, dtype: int64
Date
2022-11-14    1235
2022-11-15    1240
Name: Low, dtype: int64
Date
2022-11-14    15750
2022-11-15    17050
Name: Open, dtype: int64
Date
2022-11-14    17500
2022-11-15    17050
Name: High, dtype: int64
Date
2022-11-14    15600
2022-11-15    16600
Name: Low, dtype: int64
Date
2022-11-14    157500
2022-11-15    158000
Name: Open, dtype: int64
Date
2022-11-14    159500
2022-11-15    162500
Name: High, dtype: int64
Date
2022-11-14    154500
2022-11-15    155500
Name: Low, dtype: int64
Date
2022-11-14    4045
2022-11-15    4120
Name: Open, dtype: int64
Date
2022-11-14    4170
2022-11-15    4135
Name: High, dtype: int64
Date
2022-11-14    4040
2022-11-15    4035
Name: Low, dtype: int64
Date
2022-11-14    16450
2022-11-15    17400
Name: Open, dtype: int64
Date
2022-11-14    17750
2022-11-15    17550
Name: High, dtype: int64
Date
2022-11-14    16350
2022-11-15    16850
Name: Low, dtype: int64
Date
2022-11-14    392
2022-11-15    404
Name: Open, dtype: int64
Date
2022-11-14    407
2022-11-15    406
Name: High, dtype: int64
Date
2022-11-14    390
2022-11-15    399
Name: Low, dtype: int64
Date
2022-11-14    4270
2022-11-15    4180
Name: Open, dtype: int64
Date
2022-11-14    4270
2022-11-15    4285
Name: High, dtype: int64
Date
2022-11-14    4175
2022-11-15    4180
Name: Low, dtype: int64
Date
2022-11-14    7070
2022-11-15    7250
Name: Open, dtype: int64
Date
2022-11-14    7350
2022-11-15    7380
Name: High, dtype: int64
Date
2022-11-14    7040
2022-11-15    7120
Name: Low, dtype: int64
Date
2022-11-14    988
2022-11-15    984
Name: Open, dtype: int64
Date
2022-11-14    1000
2022-11-15     999
Name: High, dtype: int64
Date
2022-11-14    980
2022-11-15    983
Name: Low, dtype: int64
Date
2022-11-14    2040
2022-11-15    1990
Name: Open, dtype: int64
Date
2022-11-14    2045
2022-11-15    2045
Name: High, dtype: int64
Date
2022-11-14    1960
2022-11-15    1960
Name: Low, dtype: int64
Date
2022-11-14    23700
2022-11-15    23900
Name: Open, dtype: int64
Date
2022-11-14    23950
2022-11-15    23950
Name: High, dtype: int64
Date
2022-11-14    23600
2022-11-15    23600
Name: Low, dtype: int64
Date
2022-11-14    42500
2022-11-15    42050
Name: Open, dtype: int64
Date
2022-11-14    42500
2022-11-15    42600
Name: High, dtype: int64
Date
2022-11-14    42000
2022-11-15    41850
Name: Low, dtype: int64
Date
2022-11-14    139500
2022-11-15    134500
Name: Open, dtype: int64
Date
2022-11-14    141000
2022-11-15    139000
Name: High, dtype: int64
Date
2022-11-14    135000
2022-11-15    134500
Name: Low, dtype: int64
Date
2022-11-14    5900
2022-11-15    5920
Name: Open, dtype: int64
Date
2022-11-14    5970
2022-11-15    6010
Name: High, dtype: int64
Date
2022-11-14    5850
2022-11-15    5860
Name: Low, dtype: int64
Date
2022-11-14    4930
2022-11-15    5090
Name: Open, dtype: int64
Date
2022-11-14    5170
2022-11-15    5370
Name: High, dtype: int64
Date
2022-11-14    4925
2022-11-15    5070
Name: Low, dtype: int64
Date
2022-11-14    8250
2022-11-15    8290
Name: Open, dtype: int64
Date
2022-11-14    8280
2022-11-15    8340
Name: High, dtype: int64
Date
2022-11-14    8170
2022-11-15    8230
Name: Low, dtype: int64
Date
2022-11-14    550
2022-11-15    579
Name: Open, dtype: int64
Date
2022-11-14    605
2022-11-15    669
Name: High, dtype: int64
Date
2022-11-14    550
2022-11-15    574
Name: Low, dtype: int64
Date
2022-11-14    25150
2022-11-15    24450
Name: Open, dtype: int64
Date
2022-11-14    25300
2022-11-15    25450
Name: High, dtype: int64
Date
2022-11-14    24700
2022-11-15    24450
Name: Low, dtype: int64
Date
2022-11-14    11650
2022-11-15    11500
Name: Open, dtype: int64
Date
2022-11-14    11800
2022-11-15    12000
Name: High, dtype: int64
Date
2022-11-14    11250
2022-11-15    11250
Name: Low, dtype: int64
Date
2022-11-14    15900
2022-11-15    15900
Name: Open, dtype: int64
Date
2022-11-14    16100
2022-11-15    16050
Name: High, dtype: int64
Date
2022-11-14    15700
2022-11-15    15650
Name: Low, dtype: int64
Date
2022-11-14    30650
2022-11-15    32200
Name: Open, dtype: int64
Date
2022-11-14    32250
2022-11-15    32250
Name: High, dtype: int64
Date
2022-11-14    30650
2022-11-15    31750
Name: Low, dtype: int64
Date
2022-11-14    16650
2022-11-15    16950
Name: Open, dtype: int64
Date
2022-11-14    17000
2022-11-15    16950
Name: High, dtype: int64
Date
2022-11-14    16500
2022-11-15    16550
Name: Low, dtype: int64
Date
2022-11-14    11900
2022-11-15    11450
Name: Open, dtype: int64
Date
2022-11-14    12000
2022-11-15    11650
Name: High, dtype: int64
Date
2022-11-14    11400
2022-11-15    11250
Name: Low, dtype: int64
Date
2022-11-14    3360
2022-11-15    3420
Name: Open, dtype: int64
Date
2022-11-14    3420
2022-11-15    3435
Name: High, dtype: int64
Date
2022-11-14    3335
2022-11-15    3360
Name: Low, dtype: int64
Date
2022-11-14    24150
2022-11-15    24350
Name: Open, dtype: int64
Date
2022-11-14    24350
2022-11-15    24450
Name: High, dtype: int64
Date
2022-11-14    23850
2022-11-15    24100
Name: Low, dtype: int64
Date
2022-11-14    2640
2022-11-15    2620
Name: Open, dtype: int64
Date
2022-11-14    2640
2022-11-15    2635
Name: High, dtype: int64
Date
2022-11-14    2520
2022-11-15    2580
Name: Low, dtype: int64
Date
2022-11-14    6010
2022-11-15    6000
Name: Open, dtype: int64
Date
2022-11-14    6090
2022-11-15    6050
Name: High, dtype: int64
Date
2022-11-14    6000
2022-11-15    5980
Name: Low, dtype: int64
Date
2022-11-14    18500
2022-11-15    18000
Name: Open, dtype: int64
Date
2022-11-14    18500
2022-11-15    18950
Name: High, dtype: int64
Date
2022-11-14    17500
2022-11-15    17700
Name: Low, dtype: int64
Date
2022-11-14    2585
2022-11-15    2570
Name: Open, dtype: int64
Date
2022-11-14    2630
2022-11-15    2630
Name: High, dtype: int64
Date
2022-11-14    2550
2022-11-15    2570
Name: Low, dtype: int64
Date
2022-11-14    29300
2022-11-15    29750
Name: Open, dtype: int64
Date
2022-11-14    29850
2022-11-15    30300
Name: High, dtype: int64
Date
2022-11-14    29200
2022-11-15    29650
Name: Low, dtype: int64
Date
2022-11-14    53500
2022-11-15    53100
Name: Open, dtype: int64
Date
2022-11-14    53600
2022-11-15    53500
Name: High, dtype: int64
Date
2022-11-14    52100
2022-11-15    52000
Name: Low, dtype: int64
Date
2022-11-14    6920
2022-11-15    7000
Name: Open, dtype: int64
Date
2022-11-14    7000
2022-11-15    7250
Name: High, dtype: int64
Date
2022-11-14    6870
2022-11-15    6920
Name: Low, dtype: int64
Date
2022-11-14    10600
2022-11-15    10450
Name: Open, dtype: int64
Date
2022-11-14    10650
2022-11-15    10500
Name: High, dtype: int64
Date
2022-11-14    10450
2022-11-15    10400
Name: Low, dtype: int64
Date
2022-11-14    58900
2022-11-15    59400
Name: Open, dtype: int64
Date
2022-11-14    59800
2022-11-15    59400
Name: High, dtype: int64
Date
2022-11-14    58500
2022-11-15    57900
Name: Low, dtype: int64
Date
2022-11-14    1050
2022-11-15    1085
Name: Open, dtype: int64
Date
2022-11-14    1195
2022-11-15    1165
Name: High, dtype: int64
Date
2022-11-14    1035
2022-11-15    1070
Name: Low, dtype: int64
Date
2022-11-14    3520
2022-11-15    3550
Name: Open, dtype: int64
Date
2022-11-14    3580
2022-11-15    3760
Name: High, dtype: int64
Date
2022-11-14    3505
2022-11-15    3540
Name: Low, dtype: int64
Date
2022-11-14    72000
2022-11-15    71700
Name: Open, dtype: int64
Date
2022-11-14    72700
2022-11-15    72900
Name: High, dtype: int64
Date
2022-11-14    71200
2022-11-15    71600
Name: Low, dtype: int64
Date
2022-11-14    864
2022-11-15    894
Name: Open, dtype: int64
Date
2022-11-14    907
2022-11-15    933
Name: High, dtype: int64
Date
2022-11-14    850
2022-11-15    880
Name: Low, dtype: int64
Date
2022-11-14    89700
2022-11-15    91200
Name: Open, dtype: int64
Date
2022-11-14    91500
2022-11-15    91300
Name: High, dtype: int64
Date
2022-11-14    89200
2022-11-15    90100
Name: Low, dtype: int64
Date
2022-11-14    2740
2022-11-15    2740
Name: Open, dtype: int64
Date
2022-11-14    2745
2022-11-15    2745
Name: High, dtype: int64
Date
2022-11-14    2695
2022-11-15    2690
Name: Low, dtype: int64
Date
2022-11-14    32100
2022-11-15    32300
Name: Open, dtype: int64
Date
2022-11-14    32250
2022-11-15    32750
Name: High, dtype: int64
Date
2022-11-14    32000
2022-11-15    32100
Name: Low, dtype: int64
Date
2022-11-14    7700

Date
2022-11-14    3825
2022-11-15    4350
Name: High, dtype: int64
Date
2022-11-14    3650
2022-11-15    3595
Name: Low, dtype: int64
Date
2022-11-14    870
2022-11-15    885
Name: Open, dtype: int64
Date
2022-11-14    895
2022-11-15    893
Name: High, dtype: int64
Date
2022-11-14    860
2022-11-15    881
Name: Low, dtype: int64
Date
2022-11-14    3650
2022-11-15    3780
Name: Open, dtype: int64
Date
2022-11-14    3795
2022-11-15    3995
Name: High, dtype: int64
Date
2022-11-14    3650
2022-11-15    3780
Name: Low, dtype: int64
Date
2022-11-14    1000
2022-11-15    1035
Name: Open, dtype: int64
Date
2022-11-14    1070
2022-11-15    1055
Name: High, dtype: int64
Date
2022-11-14    1000
2022-11-15    1025
Name: Low, dtype: int64
Date
2022-11-14    11700
2022-11-15    12200
Name: Open, dtype: int64
Date
2022-11-14    12300
2022-11-15    12500
Name: High, dtype: int64
Date
2022-11-14    11650
2022-11-15    12050
Name: Low, dtype: int64
Date
2022-11-14    5020
2022-11-15    5110
Name: Open, dtype: int64
Date
2022-11-14    5280
2022-11-15    5180
Name: High, dtype: int64
Date
2022-11-14    5020
2022-11-15    5050
Name: Low, dtype: int64
Date
2022-11-14    5470
2022-11-15    5690
Name: Open, dtype: int64
Date
2022-11-14    5600
2022-11-15    7250
Name: High, dtype: int64
Date
2022-11-14    5470
2022-11-15    5670
Name: Low, dtype: int64
Date
2022-11-14    1700
2022-11-15    1715
Name: Open, dtype: int64
Date
2022-11-14    1765
2022-11-15    1725
Name: High, dtype: int64
Date
2022-11-14    1695
2022-11-15    1690
Name: Low, dtype: int64
Date
2022-11-14    4050
2022-11-15    4110
Name: Open, dtype: int64
Date
2022-11-14    4115
2022-11-15    4150
Name: High, dtype: int64
Date
2022-11-14    4050
2022-11-15    4090
Name: Low, dtype: int64
Date
2022-11-14    14550
2022-11-15    14600
Name: Open, dtype: int64
Date
2022-11-14    14650
2022-11-15    14750
Name: High, dtype: int64
Date
2022-11-14    14450
2022-11-15    14500
Name: Low, dtype: int64
Date
2022-11-14    4130
2022-11-15    4160
Name: Open, dtype: int64
Date
2022-11-14    4225
2022-11-15    4225
Name: High, dtype: int64
Date
2022-11-14    4080
2022-11-15    4095
Name: Low, dtype: int64

In [19]:
#당일시가 추출
OpenP_list=[]
for i in range(len(item_list)):
    OpenP = OpenP_all_list[i][1]
    OpenP_list.append(OpenP)
    #print(OpenP)
#전날 고가 추출
OpenH_list=[]
for i in range(len(item_list)):
    OpenH = OpenH_all_list[i][0]
    OpenH_list.append(OpenH)
    #print(OpenP)
#전날 저가 추출
OpenL_list=[]
for i in range(len(item_list)):
    OpenL = OpenL_all_list[i][0]
    OpenL_list.append(OpenL)
    #print(OpenP)

In [20]:
OpenP_list=[]
OpenH_list=[]
OpenL_list=[]
vix_list=[]
for i in range(len(item_list)):
    #당일시가 추출
    OpenP = OpenP_all_list[i][1]
    OpenP_list.append(OpenP)
    #전날 고가 추출
    OpenH = OpenH_all_list[i][0]
    OpenH_list.append(OpenH)
    #전날 저가 추출
    OpenL = OpenL_all_list[i][0]
    OpenL_list.append(OpenL)
    Vix = cal_vix(OpenP_list[i], OpenH_list[i], OpenL_list[i])
    #print(Vix)
    vix_list.append(Vix)

In [21]:
#종목 명, 변동성 매칭
vix_b2_list=[]
for i in range(len(stock_c)):
    list = [vix_list[i], stock_b2_list[i]]
    vix_b2_list.append(list)

In [22]:
dis_list_0 = []
dis_list_1 = []
dis_list_2 = []
dis_list_3 = []
dis_list_4 = []

for i in range(len(list_mid)):
    for j in range(len(stock_c)):
        if list_mid[i] == vix_b2_list[j][1]:
            globals()['dis_list_'+str(i)].append(vix_b2_list[j])

In [23]:
def Top1(L) :
    L.sort()
    return L[-1]
print(Top1(dis_list_0))

[378500.0, '내구 소비재 및 의류']

In [24]:
def Top2(L) :
    L.sort()
    return L[-2]
print(Top2(dis_list_0))

[369500.0, '내구 소비재 및 의류']

In [25]:
def Top3(L) :
    L.sort()
    return L[-3]
print(Top3(dis_list_0))

[160500.0, '내구 소비재 및 의류']

In [26]:
for i in range(len(list_mid)):
    print(Top1(globals()['dis_list_'+str(i)]))
    print(Top2(globals()['dis_list_'+str(i)]))
    print(Top3(globals()['dis_list_'+str(i)]))

[378500.0, '내구 소비재 및 의류']
[369500.0, '내구 소비재 및 의류']
[160500.0, '내구 소비재 및 의류']
[137500.0, '미디어']
[42300.0, '미디어']
[33000.0, '미디어']
[53850.0, '소비자 서비스']
[30075.0, '소비자 서비스']
[24600.0, '소비자 서비스']
[220250.0, '유통']
[188500.0, '유통']
[96000.0, '유통']
[222750.0, '자동차 및 부품']
[179250.0, '자동차 및 부품']
[71050.0, '자동차 및 부품']